* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dlogin {
    height: 91.1vh;
    background-image: url(../Assets/docbg1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
}

#doclogin .dlogin-content {
    width: 480px;
    height: 470px;
    border-radius: 50px;
    margin: auto;
    background-color: white;
}

#doclogin h1 {
    color: black;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 35px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#doclogin .input-div>input {
    display: inline-block;
    width: 350px;
    height: 35px;
    margin-top: 35px;
    margin-left: 65px;
    padding: 20px;
    border: 3px solid  rgb(29, 113, 217);
    outline: none;
    border-radius: 20px;
}

#doclogin .summit-btn>input {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 11.5rem;
    cursor: pointer;
    background: linear-gradient(180deg, rgb(57, 101, 156)26.7%,  rgb(29, 113, 217)99.3%);
}

#doclogin .summit-btn>:hover {
    color: black;
    background: white;
    border: 3px solid  rgb(29, 113, 217);
}

#doclogin .summit-btn>:active {
    transform: scale(0.95);
}

#doclogin .signup-link{
    margin-top: 30px;
    margin-left: 6rem;
}

#doclogin a {
    text-decoration: none;
    color:   rgb(29, 113, 217);
}

#doclogin a:hover {
    text-decoration: underline;
}