* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 65px;
    background-color: #333333;
    display: flex;
    justify-content: right;
}

nav li {
    display: inline-block;
    margin-top: 23px;
}

nav li a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

nav a:hover {
    color: rgb(21, 218, 178);
}